<div id="flashcard-stats">
<div id="flashcard-pause-quit" class="hand">× quit</div>
<div class="pause-stats"></div>
<div id="flashcard-pause-reset" class="hand">reset scores</div>
<div class="pause-info">+ depth-first (3 seconds)</div>
<div class="pause-info">+ breadth-first (20 seconds)</div>
<div id="flashcard-pause-resume" class="hand">resume</div>
<div class="pause-kbd">Keyboard controls:<br>(<span id="kc-x" class="hand">x</span>) close the app<br>(<span id="kc-space" class="hand">space</span>) pause / unpause<br>(<span id="kc-enter" class="hand">enter</span>) flip / next<br>(<span id="kc-f" class="hand">f</span>) flip<br>(<span id="kc-s" class="hand">s</span>) skip</div>
</div>
